.navbar {
  background: var(--surface);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Cormorant Garamond", serif;
  font-size: 34px;
  color: var(--primary);
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: var(--text);
  font-weight: 500;
  transition: .3s;
}

.nav-links a:hover,
.nav-links .active {
  color: var(--primary);
}